<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
   
    <h1 class="h3 texto3">
        <span class="text-muted">
            <i class="fas fa-tachometer-alt"></i>
        </span>        CLUBE DO BOOK

    </h1>

    
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="texto" href="#">Sobre</a>
      <a class="texto" href="#">Produtos </a>
      <a class="texto" href="#">Suporte  </a>
      <br>
      <a class="texto" href="#">Contato</a>
    </nav>
</div>