div{
    background-color: brown;
   
}

div > a {
    color: white;
    text-decoration: none;
}

.texto3{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
}


.texto{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-left: 200px;
    padding: auto;
}