body{
    text-align: center;
    background-color: aqua;
}

small{
    color: rgb(229, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-left: 200px;
    padding: auto;
}